.chatingbox {
    width: 400px;
    height: 500px;
    overflow: auto;
    scroll-behavior: smooth;
    border : 1px solid black
}

.messagebar {
    width: 350px;
    height: 30px;
    border: 1px solid black;
}

.sendbutton {
    width: 50px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}